<!DOCTYPE html>
 
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},  
                                                ~{:: #home-footer}
                                               )}">
                                                
	<head>
		<title>Title of Home Page</title>
	     
	    <th:block id="home-static-resources">
			<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" href="../static/bootstrap.min.css"/>
			<script type="text/javascript" src="../static/bootstrap.min.js"  th:src="@{/bootstrap.min.js}"></script>
			<script type="text/javascript" src="../static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
	       
	    </th:block>
     </head>
	 <body>
	 
	    <div id="home-header">
	        
	        <div th:if="${name_exist}" >
	        	<h1>Hi <span th:text="${name}" ></span></h1>
	        </div>
	        <div th:if="${name_not_exist}" >
	        	<h1>Hi <span th:text="${session.user.firstName}" ></span></h1>
	        </div>
			
	
	        <nav> 
			    <ul  th:fragment = "nav-default">
			        <li>
			        	<div th:if="${name_exist}" >
			        		<a th:href="@{/oauth2LoginSuccess}">Home</a>
			        	</div>
			        	<div th:if="${name_not_exist}" >
	        				<a th:href="@{/}">Home</a>
	        			</div>
			
			        
			        </li>
			        <li>
			        	<form th:action="@{/logout}" 
						   method="POST">
						    
							<input type="submit" value="Logout" />
				
						</form>	
					</li>
			        
			    </ul>
		    </nav>
	        <div style="clear: both"></div>
	        	
	    </div>
	     

	 
	    <div id="home-main-content">
	        <div>
				<!-- Swift form-->
				
				
					<form th:action="@{/processSwiftRequest}" 
						  	   th:object="${swiftCode}" method="POST"
						  	   class="form-horizontal">
						
						
						<div >
						<p>Enter Swift Code </p> 
						<input  type="text" th:field="*{swiftcode}" placeholder="swift code" th:errorclass="fieldError">
						<button type="submit" class="btn btn-primary">Enter</button>
						</div>
						
						<div th:if="${#fields.hasErrors('swiftcode')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('swiftcode')}" th:text="'Swift Code ' + ${err}" />
							</ul>						
						</div>	   
						 
						<br> <br> <br>
						
						<div th:if="${table_exist}" >
							
								<table class="table table-bordered table-striped">
								<thead class="thead-dark">
									<tr>
										<th>Swift</th>
										<th>Bank</th>
										<th>Branch</th>
										<th>Address</th>
										<th>city</th>
										<th>Pincode</th>
										<th>Country</th>
										
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="temp : ${SwiftCodeModel}">
									
										<td th:text="${temp.swift}" />	
										<td th:text="${temp.bank}" />	
										<td th:text="${temp.branch}" />
										<td th:text="${temp.address}" />
										<td th:text="${temp.city}" />
										<td th:text="${temp.pincode}" />
										<td th:text="${temp.country}" />
										
										
									</tr>
								</tbody>		
							</table>
						</div>	
						<div th:if="${table_not_exist}" >
							<p> Swift Code is Incorrect !!</p>
						</div>
						
					</form>
				
	        </div>
	    </div>
	     
	     
	    <div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}"/>
	        
	</body>
</html>